body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
header {
  background-color: #0288d1;
  color: white;
  padding: 20px;
  text-align: center;
}
#specialOffers {
  background-color: #e1f5fe;
  padding: 15px;
  margin: 20px;
  display: none; /* Se mostrará según la respuesta del usuario */
}
#orderForm {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}
#colorSection {
  background-color: #e0f7fa;
  padding: 15px;
  margin: 20px;
}
.btn {
  background-color: #0288d1;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.btn:hover {
  background-color: #0277bd;
}
